@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,500,900);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);


img {
    width: 100%;
    vertical-align: top;

}

#main {
    display: flex;
    margin-top: 4rem;
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    min-height: 85vh;
    padding-bottom: 4rem;
    margin-top: 4rem;
    justify-content: space-between;
}

#aside {
    width: 15%;
    margin: 2rem;
    border-bottom: 1px solid #ccc;
    height: 18%;
    min-width: 167px;
}

#quiz_list {
    width: 78%;
    border-left: 1px solid #ccc;
    padding: 2rem 0 2rem 2rem;
}

#aside a {
    border-radius: 10px;
    color: var(--colorSB);
}

#aside ul {}

.aside__nav>li a {
    margin-left: 1rem;
    padding: 1rem 0;
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
}

.aside__nav h2 {
    color: var(--primary-color);
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.aside__nav>li>a {
    color: var(--primary-color);
    display: block;
    box-sizing: border-box;
}

.aside__nav>ul>li>a:hover {
    color: #555D8A !important;
}

.intro_inner>h3 {
    font-weight: bold;
    color: var(--colorSB);
    font-size: 1.2rem;
}


/* quiz_list */
#quiz_list {
    width: 80%;
    margin: 0 auto;
}

#quiz_list .intro_inner {}

#quiz_list .intro_inner .list {
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    /* background: linear-gradient(to top, var(--colorB) 1%, var(--colorS) 99% ); */
    background-color: var(--colorB);
}

#quiz_list .intro_inner .list h3 {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--colorSB);
    padding-right: 2rem;
    word-break: keep-all;
}

.like_btn {
    background-color: var(--primary-color);
    border-radius: 25px;
    padding: 10px 20px;
    color: var(--white);
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 100px;
}

.like_btn:hover {
    background-color: #404a85;
}

/* contents */
.contents {
    width: 100%;
}

#dynamicContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#dynamicContent>div {
    width: 100%;
    display: flex;
}

#dynamicContent>div>a {
    height: 100%;
    display: block;
}


.card {
    background-color: var(--white);
    margin: 1rem 0;
    padding: 1rem 1.2rem;
    border-radius: 20px;
}

.card__text {
    justify-content: space-between;
}

.card>a>ul>li {
    font-weight: 700 !important;
    color: var(--primary-color);
}

.card>a {
    display: block;
    width: 100%;
}

.card>a>ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card>a>ul>li:nth-child(1) {
    width: 100%;
    color: #8690c7 !important;
}

.card>a>ul>li:nth-child(2) {
    font-weight: 800 !important;
    display: flex;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.cardtext_wrap {
    display: flex;
    justify-content: space-between;
}

.cardtext_wrap li:nth-child(1) {
    display: none;
}

.cardtext_wrap li:nth-child(2) {
    display: flex;
    align-items: center;
}

.cardtext_wrap li:nth-child(2) svg {
    width: 25px;
}

/* create */
.create {
    flex-wrap: wrap;
    display: flex;
    margin: 2rem;
    justify-content: space-between;
}



.heart {
    position: relative;
    top: 5%;
    left: 0%;



    transition: 0.5s;
}

.heart .ion-heart {
    color: gold;
}

/* math */
.math {
    flex-wrap: wrap;
    display: flex;
    margin: 2rem;
    justify-content: space-between;
}

/* reasoning */
.reasoning {
    flex-wrap: wrap;
    display: flex;
    margin: 2rem;
    justify-content: space-between;
}

/* matchstick */
.matchstick {
    flex-wrap: wrap;
    display: flex;
    margin: 2rem;
    justify-content: space-between;
}

/* etc */
.etc {
    flex-wrap: wrap;
    display: flex;
    margin: 2rem;
    justify-content: space-between;
}





* {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: "nanumSquareNeo";
    font-weight: 400;
}

body {
    font-family: "nanumSquareNeo";
    background-color: #FAF7F0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --bgc: #FAF7F0;
    --colorB: #F2E2DE;
    --colorBD: #C5AAA4;
    --colorS: #E9F3FC;
    --colorSM: #CEDFFD;
    --colorSD: #A7BEE7;
    --colorSB: #555D8A;
    --colorR: #9E3436;
    --colorRD: #E62D46;

    --primary-color: #283269;

    --white: #fff;

    --main-neo: "nanumSquareNeo";
}

@media (max-width: 900px) {
    :root {
        font-size: 14px;
    }

    #quiz_list .intro_inner .list {
        flex-direction: column;
        padding: 1rem;
    }

    .list h3 {
        margin-bottom: 10px;
        padding-right: 0;
    }


    #aside {
        width: 5%;
        margin: 1rem;
        border-bottom: none;
        height: 18%;
        min-width: 65px;
    }

    #quiz_list {
        border-left: none;
        padding: 0;
        padding-top: 1rem;
    }

    .aside__nav li a {
        font-size: 0.9rem;
        margin-left: 0;
    }
}

.filter-button {
    color: var(--bgc);
    padding: 0.4rem 1rem;
    line-height: 0.9;
    margin-top: 1rem;
    border: 1px solid #3e4c96;
    cursor: pointer;
    border-radius: 10px;
    font-size: 0.8rem;
    background-color: #3e4c96;
    transition: all 0.2s;
}

.filter-button:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}