
fieldset {
    border-width: 0;
    font-family: var(--main-neo);
}

input {
    font-family: "nanumSquareNeo";
}

input,
textarea {
    transition: color 0.3s, border-color 0.3s, box-shadow 0.3s;
    border: 0.15rem solid #cdd2ec;

}

input::-webkit-input-placeholder {
    display: inline-block;
    font-size: 0.85rem;
    color: var(--colorSD);
}

input:hover,
textarea:hover {
    box-shadow: 0 0 0 5px #a7bee754;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: #283269;
    border: 0.15rem solid var(--colorSD);
    box-shadow: 0 0 0 5px #d0e1ff54;
}

.input__box1 {
    width: 100%;
    height: 3.5rem;
    background-color: #ffffffc4;
    border: 0.15rem solid #283269;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0.6rem;
    color: #283269;
}

.input__box1::-webkit-input-placeholder {
    color: #a0a5adbd;
}
